:root {
    --spacing: 1rem;
    --border-radius: 5px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.everything {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.map {
    height: 100%;
    width: 100%;
}

.controls {
    position: absolute;
    right: var(--spacing);
    bottom: var(--spacing);
    left: var(--spacing);
    max-width: 400px;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 4px 6px 24px -3px rgba(0,0,0,0.75);
    overflow: hidden;
}

.controls header {
    background-color: #EEEEEE;
    overflow: hidden;
    padding: .5rem;
}

.controls header h3 {
    margin: 0;
}

.controls main {
    padding: .5rem;
}

.messages {
    position: absolute;
    top: var(--spacing);
    right: var(--spacing);
}

.messages .message {
    background-color: white;
    border-radius: var(--border-radius);
    padding: .5rem;
}

.messages .message:not(:first-child) {
    margin-top: .5rem;
}

.messages .message.error {
    background-color: #DF5151;
    color: #501F1F;
}

.downloads {
    display: none;
    text-align: center;
}

.downloads.show {
    display: block;
}

#download-link {
    background-color: #98D88F;
    color: black;
    text-decoration: none;
    padding: .8rem;
    border-radius: var(--border-radius);
}
