{% extends 'layout.html' %}

{% block body %}
<div class="everything">
  <div id="map" class="map"></div>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="messages">
      {% for category, message in messages %}
        <div class="message {{ category }}">{{ message }}</div>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <div class="controls">
    <header>
      <h3>Seleccione archivo de puntos</h3>
    </header>
    <main>
      <form method="post" enctype="multipart/form-data" action="" id="form">
        <label>
          <input type="file" name="file" id="file" />
        </label>
      </form>
      <div class="downloads" id="downloads">
        <h4>
          <a href="" id="download-link" download="route.kml">Descargar kml</a>
        </h4>
      </div>
    </main>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {% if points %}
    <script id="points" type="application/json">{{ points|tojson }}</script>
  {% endif %}
  {% if result_line %}
    <script id="result_line" type="application/json">{{ result_line|tojson }}</script>
  {% endif %}
{% endblock %}
