<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css" />
  </head>
  <body>
    {% block body %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>
    {% block scripts %}{% endblock %}
    <script type="text/javascript" src="/static/js/app.js"></script>
  </body>
</html>
